## 4. 딕셔너리

In [11]:
d = dict(name="sec", value=300000,address="suwon")
print (d)
print(d.keys())
print(d.values())
print(d.items())

dic = {"name":"sec","id":"300000","address":"suwon"}
print (dic)
print(dic['name'])

{'name': 'sec', 'value': 300000, 'address': 'suwon'}
dict_keys(['name', 'value', 'address'])
dict_values(['sec', 300000, 'suwon'])
dict_items([('name', 'sec'), ('value', 300000), ('address', 'suwon')])
{'name': 'sec', 'id': '300000', 'address': 'suwon'}
sec

In [4]:
dic = {"name":"sec","id":"300000","address":"suwon"}
print(dic)
print(dic['name'])

# dictional key value 추가/변경
dic["name"] = "sec2"
dic["stock"] = "yes"
print(dic)
print(dic["stock"])

# diction 요소 삭제하기
del dic["id"]
print(dic)

{'name': 'sec', 'id': '300000', 'address': 'suwon'}
sec
{'name': 'sec2', 'id': '300000', 'address': 'suwon', 'stock': 'yes'}
yes
{'name': 'sec2', 'address': 'suwon', 'stock': 'yes'}

In [6]:
# 실습 예제 (p.32)
# dic = {"name":"sec","id":"300000","address":"suwon"} 에서 id를 삭제하여 출력하세요 {'name': 'sec', 'address': 'suwon’}

dic = {"name":"sec","id":"300000","address":"suwon"}
del dic["id"]
print (dic)

{'name': 'sec', 'address': 'suwon'}